/* start dashboard*/
a.addProductAction{
    font-size: 18px;
    background: #222d32;
    padding: 2px 15px;
}
/* start product*/
table.stable {
    width: 100%;
}


table.stable th{
    background-color: #E6E6FA;
}
table.stable th, td {
    padding: 5px !important; text-align:center;
}
table.stable tr:nth-child(even) {
    background-color: #F0F8FF;
}
/* end product */

/* end dashboard */