@{
        ViewBag.Title = "Home Page";
    }

    <!-- start New Arrival -->
        <section id="mainContent">

            <div class="container">
                <h2>New Arrivals on NTC</h2>
                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic1.jpg"/>

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. @ViewBag.myProduct.sellingPrice</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic2.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic3.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end New Arrival -->

        <!-- start Best Seller -->
        <section id="bestSeller">

            <div class="container">
                <h2>Best Sellers</h2>
                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic4.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic5.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="myProduct">
                                <a href="#">
                                    <img src="~/Content/images/pic6.jpg" />

                                </a>
                                <div class="productBottom">
                                    <span class="productPrice">Rs. 860</span>
                                    <a class="addToCart" href="#">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Best Seller -->